*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    color: #fff;
}

.nav__list{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #000;
    gap: 20px;
}

.nav__item{
    background-color: #ccc;
    padding: 10px 20px;
}